/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: url("../img/bg.jpg") top center no-repeat;
  /* background-color: black; */
  background-size: cover;
  position: relative;
}

@media (min-width: 1366px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  color: #ff3333;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  position: relative;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--color-primary);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  padding-top: 60px;
}

#header .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 58px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  text-align: center;
}

#header h2 {
  color: #eee;
  font-size: 32px;
  text-align: center;
}

#header h1 .fun {
  color: var(--color-primary);
}

#header h2 .fun {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info-wrap {
  background: rgba(255, 255, 255, 0.03);
  padding: 30px;
}

.contact .form {
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.06);
}

.contact .form .form-group {
  padding-bottom: 8px;
}

.contact .form input, 
.contact .form #time,
.contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.656);
}

.contact .form input::-moz-placeholder,
.contact .form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.656);
}

#time option {
  background-color: var(--color-primary);
  color: white;
}

.contact .form input::placeholder,
.contact .form textarea::placeholder {
  color: rgba(255, 255, 255, 0.656);
}

.contact .form input 
.contact .form select {
  height: 44px;
}

.contact .form textarea {
  padding: 10px 12px;
}

.contact .form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 20px;
  color: #fff;
  transition: 0.4s;
  border-radius: 10px;
}

.contact .form button[type=submit]:hover {
  background: var(--color-primary);
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #fff5f5;
}

.section-title {
  text-align: center;
  padding-bottom: 15px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.features .tab-content {
  background: rgba(255, 255, 255, 0.06);
  padding: 40px;
}

.features .nav-link {
  border: 0;
  padding: 25px 20px;
  color: var(--color-secondary);
  box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s;
  background: var(--color-secondary) linear-gradient(rgba(var(--color-primary-rgb), 0.95), rgba(var(--color-primary-rgb), 0.6));
  border-color: var(--color-primary);
}

.features .nav-link:hover {
  transform: scale(1.2); /* Ajusta el valor según sea necesario */
}

.features .nav-item {
  width: 110px;
}

.features .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.features .nav-link h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.features .nav-link:hover {
  color: var(--color-primary);
}

/*.features .nav-link.active {
  transition: 0.3s;
  background: var(--color-secondary) linear-gradient(rgba(var(--color-primary-rgb), 0.95), rgba(var(--color-primary-rgb), 0.6));
  border-color: var(--color-primary);
}*/

.features .nav-link.active h4 {
  color: var(--color-white);
}

.features .nav-link.active i {
  color: var(--color-white) !important;
}

.features .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.features .tab-pane h3 {
  font-weight: 600;
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-bottom: 10px;
}

.features .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: var(--color-primary);
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: var(--color-white);
  font-size: 14px;
  z-index: 999;
}

.footer .footer-legal {
  padding: 30px 0;
  background: #3a475338;
  border-top: 2px solid var(--color-primary); /* Ajusta el grosor y el estilo según sea necesario */
}


.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 13px;
  color: var(--color-white);
}

.footer .footer-legal .credits a {
  color: var(--color-primary-light);
}

/*.footer .footer-legal .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(var(--color-white-rgb), 0.1);
  color: var(--color-white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-legal .social-links a:hover {
  background: var(--color-primary);
  text-decoration: none;
}*/